body {
  background-color: black;
}

.App {
  text-align: center;
}

/* Header */

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 2px solid white;
}

.Header h1 {
  font-size: 44px;
}

.Header img {
  width: 300px;
  margin-bottom: 20px;
}

/* NavBar */

.NavBar {
  border-bottom: 2px solid white;
}

.NavBar .Link {
  color: white;
  transition: all linear 300ms;
}

.NavBar .Link:hover {
  color: #fd8e34;
}
/* Character List */

.CharacterList {
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  background-color: black;
}

/* Character Detail */

.CharacterDetail {
  color: white;
  background-color: black;
}

/* Footer */

.Footer {
  display: flex;
  min-height: 100px;
  background-color: black;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.Footer h2 {
  letter-spacing: 1px;
}

.CharCard:first-child {
  margin-top: 14px !important;
}
